.list1 a::after
{
    content: '   ';
    width: 10%;
}
.list1
{
    display: inline-block;
}


.post-thumb {
    float: left
}

.post-content {
    margin-left: 210px
}

.post-title {
    font-weight: bold;
    font-size: 200%
}
footer 
{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}
.plist
{
    
    background-color: #45a1ff;
    margin: 2%
}
.plist1
{
    background-color: #45a1ff;
    box-sizing: border-box;
    width: 100%;
}
.table
{

    margin-left: auto;
    margin-right: auto;
}

.off
{
    background-color: red;
}

.bbdy 
{
    
    text-align: center;
    margin: 0;
}

.max
{
    text-align: left
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 100%;
}
