
.list1
{
    display:inline-block;
    position:relative;
    left: 85%;
    transform: translateX(-100%);
}

.post-thumb {
    float: left
}

.post-title {
    margin-left: 210px;
    font-size: 200%;
    text-align:left;
}
footer 
{
    display: flex;
    justify-content: left;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}
.plist
{
    background-color: #45a1ff;
    margin: 2%;
}
.plist1
{
    background-color: #45a1ff;
    box-sizing: border-box;
    width: 100%;
}
.table
{
    border-collapse:collapse;
}

.off
{
    background-color: red;
}

.on
{

}

.bbdy 
{
    text-align: left;
    margin: 0;
}

.max
{
    text-align: left;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

body {
    
}
